@model IEnumerable<Epic.Domain.Entities.AgeResult>

@{
    ViewBag.Title = "Результаты";
}

<table class="table">
    <thead>
        <tr>
            <td>Эра</td>
            <td>Унций за очко</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "List", new { ageresult = item.AgeResultID })</td>
                <td>@item.Price </td>
</tr>
        }
        
    </tbody>
</table>
